<!DOCTYPE html>
<html>
    <head>
        <title>GoosebotHome</title>
        <meta charset="utf-8">
        <!-- Bootstraps -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Links my CSS file -->
        <link href="../resources/web_style.css" rel="stylesheet">

    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-brand">
                    <a class="nav-brand" href="home.html">
                        <img src="../resources/img/goose_face.jpg" class="rounded-circle" alt="logo" height="45px" width="55px">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Gooseneck Bot</a>
                </li>
            </ul>
        </nav>

        <!-- Menu -->
        <div class="pos-f-t">
            <div class="collapse" id="navbartoggle">
                <div class="bg-dark p-4">
                    <h3 class="text-white h4">Menu</h3>
                    <nav class="nav flex-column">
                        <a class="nav-link active" href= "/botCommands">Bot Commands</a>
                        <a class="nav-link" href= "/about">About Bot</a>
                        <a class="nav-link" href= "/help">Help</a>
                    </nav>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggle" aria-controls="navbartoggle" aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <br>
        <br>
        <div class="container">
        <div class="jumbotron">
            <h1>GooseBot Commands:</h1>
            <!-- Table -->
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Commands:</th>
                        <th scope="col">Description</th>
                        <th scope="col">Parameters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">.help</td>
                        <td>Gooseneck bot gives a brief overview of the different commands </td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.hep_cmd</td>
                        <td>in depth information about commands</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.hep</td>
                        <td>Gooseneck bot give a description of the bot and the commands in order to play the gacha game</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.register</td>
                        <td>This command starts the Gacha game. One needs to type this only once and the user will get 50 coins in order to roll.</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.roll</td>
                        <td> The user will get a random card from the pool of cards avaialble and will get a rarity assigned to that card.</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.coin</td>
                        <td>Will return back the amount of coins the user holds.</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.claim</td>
                        <td>One can claim 5 coins every 10 minutes</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.inv</td>
                        <td>This will show your inventory of all the cards you have collected</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.view</td>
                        <td>This will show a card from your inventory all it needs is a the Global id associated with your card</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td scope="row">.home</td>
                        <td>This will lead you the website</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.quote</td>
                        <td>Pulls a random inspirational quote from the internet</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td scope="row">.tothemoon</td>
                        <td>Checks up on dogecoin</td>
                        <td>none</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </body>
</html>