<!DOCTYPE html>
<html>
    <head>
        <title>GoosebotHome</title>
        <meta charset="utf-8">
        <!-- Bootstraps -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Links my CSS file -->
        <link href="../resources/web_style.css" rel="stylesheet">

    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-brand">
                    <a class="nav-brand" href="/home">
                        <img src="../resources/img/goose_face.jpg" class="rounded-circle" alt="logo" height="45px" width="55px">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Gooseneck Bot</a>
                </li>
            </ul>
        </nav>

        <!-- Menu -->
        <div class="pos-f-t">
            <div class="collapse" id="navbartoggle">
                <div class="bg-dark p-4">
                    <h3 class="text-white h4">Menu</h3>
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="/botCommands">Bot Commands</a>
                        <a class="nav-link" href="/about">About Bot</a>
                        <a class="nav-link" href="/help">Help</a>
                    </nav>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggle" aria-controls="navbartoggle" aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

        <div class="gooseb"></div>
        <div class="text">
            <br>
            <h2>
                For Help Please Email:
            </h2>
            <h3>
             gooseneckBot@gmail.com
            </h3>
        </div>

    </body>
</html>