<!DOCTYPE html>
<html>
    <head>
        <title>GoosebotHome</title>
        <meta charset="utf-8">
        <!-- Bootstraps -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Links my CSS file -->
        <link href="../resources/web_style.css" rel="stylesheet">
            <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-brand">
                    <a class="nav-brand" href="home.html">
                        <img src="../resources/img/goose_face.jpg" class="rounded-circle" alt="logo" height="45px" width="55px">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Gooseneck Bot</a>
                </li>
            </ul>
        </nav>

        <!-- Menu -->
        <div class="pos-f-t">
            <div class="collapse" id="navbartoggle">
                <div class="bg-dark p-4">
                    <h3 class="text-white h4">Menu</h3>
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="/botCommands">Bot Commands</a>
                        <a class="nav-link" href="/about">About Bot</a>
                        <a class="nav-link" href="/help">Help</a>
                    </nav>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggle" aria-controls="navbartoggle" aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </head>
    <body>
        
        <div class="wrap">
  
            <div class="gooseh"></div>
            <div class="box">
                    <h2>Welcome to the Gooseneck Bot </h2>
                <div class="centerB">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=808415889875664927&permissions=2148001856&scope=bot" type="button" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Invite the Bot</a>
                </div>
            
                <p>
                    Alright, Ducklings this is what the Gooseneck bot is all about!
                </p>
                <p>
                    It has a gacha game involving video characters. 
                </p>
                <p>
                    In order to find out more about this bot please navigate to the commands tab above to learn more about the bot.
                    If you wanna learn more about the creators go to the about tab.
                </p>
                
            </div>
        </div>

    </body>
</html>