body, html{
    height: 100px;
    margin: 0;
    background-color: gray;
}

.gooseh {
    background-image: url("../Website_Project/img/goose_hands.jpg");
    height: 25vh;
    width: 20vw;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gooseb {
    background-image: url("../Website_Project/img/buff\ _goose.jpg");
    height: 25vh;
    width: 20vw;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: center;
}

nav {
    overflow: auto;
}

.centerB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.993);
    transition: 0.3s;
    width: 60%;
    padding-left: 50px;
}